<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet"
    href="http://localhost:1234/style.e0c02e61.css">
  <title>Preview Layout</title>
</head>

<body>

  {{{ yield }}}

</body>

</html>
