<div class="a-input">
    <input id="search" class="a-input a-input--search" type="text" name="search" placeholder="Recherche par mots clés">
    <img class="a-search a-input--img" src="http://localhost:1234/assets/medias/search.jpg" alt="img_search">
</div>