<div class="a-conseil">
    <p class="a-conseil a-conseil--text">
        Tu te poses probablement des questions sur
        <br> ce qu'on appelle : le sexe. C'est normal. Tout
        <br>le monde s'en pose, sans jamais s'en parler
        <br> sans tabou.

        <div class="a-conseil a-conseil--block">
            <p class="a-conseil a-conseil--blockText">
                Dire oui ou non librement !
                <br>
                OUI + OUI = OUI - OUI + NON = NON
        </div>
</div>