<div class="a-text"> 
    <p class="a-text--one">
        Voici des conseils et des infos 
        <br> sur tous les sujets possibles.
    </p> 
<!--
    <p class="a-text--two"> 
        Tu te poses probablement des questions sur
        <br> ce qu'on appelle : le sexe. C'est normal. Tout
        <br>le monde s'en pose, sans jamais s'en parler
        <br> sans tabou.

<div class="a-text-block"> 
    <p class="a-text--three"> 
    Dire oui ou non librement !
    <br>
    OUI + OUI = OUI - OUI + NON = NON  

</div>
-->

</div>