<div class="a-article">
    <img class="a-article a-article--pictures"src="http://localhost:1234/assets/medias/articleOne.jpg" alt="articleOne">
    <img class="a-article a-article--pictures"src="http://localhost:1234/assets/medias/articleTwo.jpg" alt="articleTwo">
    <img class="a-article a-article--pictures"src="http://localhost:1234/assets/medias/articleFour.jpg" alt="articleFour">
    <img class="a-article a-article--pictures"src="http://localhost:1234/assets/medias/articleFive.jpg" alt="articleFive">
</div>


<!--
    <img class="a-article--pictures a-article--pictures__pictureOne"src="http://localhost:1234/assets/medias/articleOne.jpg" alt="articleOne">
<img class="a-article--pictures a-article--pictures__pictureTwo"src="http://localhost:1234/assets/medias/articleTwo.jpg" alt="articleTwo">
<img class="a-article--pictures a-article--pictures__pictureThree"src="http://localhost:1234/assets/medias/articleThree.jpg" alt="articleThree">
<img class="a-article--pictures a-article--pictures__pictureFour"src="http://localhost:1234/assets/medias/articleFour.jpg" alt="articleFour">
<img class="a-article--pictures a-article--pictures__pictureFive"src="http://localhost:1234/assets/medias/articleFive.jpg" alt="articleFive">
-->