<div class="a-article">
    <img class="a-article a-article--videosOne"src="http://localhost:1234/assets/medias/videoOne.jpg" alt="videoOne">
    <img class="a-article a-article--videos"src="http://localhost:1234/assets/medias/videoTwo.jpg" alt="videoTwo">
</div>