:root {
  --colorPrimary: #FFC700;

  // --colorSuccess: #38c138;
  // --colorSuccessLight: #c8f7b9;
  // --colorSuccessDark: #076b07;

  --colorTextMain: #202020;
  --colorTextSecondary: #B2BEC3;
  // --colorTextReversed: #ffffff;

  // --colorInfo: #dbf9eb;
  // --colorWarning: #f9e9db;

  // --colorCode: #006b89;
  // --colorCodeLight: #c8f0fd;

  // --colorQuestion: #e7d3f5;

  // --colorInputBorder: #666666;
}
