@mixin font($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.ttf') format('ttf'),
      url('#{$file-path}.ttf') format('ttf');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('Permanent Maker', '../assets/fonts/PermanentMaker/PermanentMarker-Regular', 400, normal);
@include font('Permanent Maker', '../assets/fonts/PermanentMaker/PermanentMarker-Regular', 300, normal);
@include font('Merriweather', '../assets/fonts/Merriweather/Merriweather-Regular', 200, normal);
@include font('Merriweather', '../assets/fonts/Merriweather/Merriweather-Regular', 100, normal);

:root {
  --fontFamilyTitle: PermanentMarker, serif;
  --fontFamilyMain: Merriweather, serif;
  --fontFamilyCode: monospace;

  //--fontSizeXXL: 24px;
  --fontSizeXL: 24px;
  --fontSizeL: 18px;
  --fontSizeM: 16px;
  --fontSizeS: 14px;

  --fontWeightBold: 900;
  --fontWeightThin: 300;

  --lineHeightMain: 1.5;
  --lineHeightLarge: 2;
}
