<div class="a-button">
    <a class="a-button a-button--seeAll">Voir tout </a>
    <button class="a-button a-button--themes">Puberté</button>
    <button class="a-button a-button--themes">Consentement</button>
</div>


