<div class="a-title">
    <p class="a-title a-title--h2-Themes">
        Thèmes
    </p>

    <p class="a-title a-title--h2-Conseil">
        Conseil du jour
    </p>

    <p class="a-title a-title--h2-Sujets">
        Sujets les plus vus
    </p>

    <p class="a-title a-title--h2-Lecture">
        En cours de lecture
    </p>

</div>