<div class="a-title">
    <p class="a-title--h1">
        Bonjour Eden !
    </p>
    <p class="a-title a-title--h2">
        Thèmes
    </p>

    <p class="a-title a-title--h2">
        Conseil du jour
    </p>

    <p class="a-title a-title--h2">
        Sujets les plus vus
    </p>

    <p class="a-title a-title--h2">
        En cours de lecture
    </p>
</div>
