<p class="a-iconMenu--description">Messages</p>
<p class="a-iconMenu--description">Dico</p>
<p class="a-iconMenu--description">Home</p>
<p class="a-iconMenu--description">Contact</p>
<p class="a-iconMenu--description">FAQ</p>