<div class="a-iconMenu">
    <p class="a-iconMenu a-iconMenu--description">Messages</p>
    <p class="a-iconMenu a-iconMenu--description">Dico</p>
    <p class="a-iconMenu a-iconMenu--description">Home</p>
    <p class="a-iconMenu a-iconMenu--description">Contact</p>
    <p class="a-iconMenu a-iconMenu--description">FAQ</p>
</div>