<div class="a-iconMenu">
    <img class="a-iconMenu a-iconMenu--disabled" src="http://localhost:1234/assets/medias/messages.jpg" alt="img_icon--messages">
    <img class="a-iconMenu a-iconMenu--disabled" src="http://localhost:1234/assets/medias/dico.jpg" alt="img_icon--dico">
    <img class="a-iconMenu a-iconMenu--disabled" src="http://localhost:1234/assets/medias/contact.jpg" alt="img_icon--contact">
    <img class="a-iconMenu a-iconMenu--disabled" src="http://localhost:1234/assets/medias/faq.jpg" alt="img_icon--faq">
</div>