<header class="o-header">
  {{> @profil }}
  <div class="o-header o-header--info">
    {{> @info }}
  </div>
  <div class="o-header o-header--button">
    {{> @search }}
    {{> @theme }}
  </div>
</header>
