.a-article {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
}

.a-article--pictures {
    width: 150px;
    height: 160px;
}

.a-article--videos {
    width: 150px;
    height: 160px;
}

.a-article--videosOne {
    width: 305px;
    height: 160px;
}

