.a-article {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.a-article--pictures {
    width: 170px;
    height: 160px; 
}

.a-article--videos {
    width: 170px;
    height: 160px; 
}

.a-article--videosOne {
    width: 335px;
    height: 160px; 
}

