.a-button {
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--colorWhite);
}

.a-button--seeAll {
  font-family: var(--fontFamilyMain);
  font-size: var(--fontSizeS);
  color: var(--colorTextSecondary);
  padding-left: 288px;
  padding-top: 40px;
  text-shadow: 0.1em 0.1em 0.05em rgba(234, 234, 234, .8);
}

.a-button--themes {
  width: 159px;
  height: 35px;
  border-radius: var(--borderRadius);
  border: 1px solid var(--colorSecondaryYellow);
  font-family: var(--fontFamilyMain);
  font-size: var(--fontSizeM);
  text-align: center;
  justify-content: center;
  color: var(--colorSecondaryYellow);
  box-shadow: 3px 3px 3px 3px rgba(234, 234, 234, .2);
  margin: 10px;
}
