.a-iconMenu {
  width: 375px;
  color: var(--colorTextSecondary);
  margin: 10px;
  }
  
  .a-iconMenu--disabled {
  opacity: 0.5;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  }

  
  .a-iconMenu--primary {
  fill: var(--colorPrimary);
  width: 30px;
  height: 30px;
  margin-left: 30px;
  }

  .a-iconMenu__Two {
    color: var(--colorTextSecondary);
    display: flex;
    justify-content: space-evenly;
    }

  .a-iconMenu--description {
  font-size: var(--fontSizeS);
  }