.a-input {
    border-radius: 5px;
    height: 35px;
    width: 300px;
    color: #B2BEC3;
    font-family: var(--fontFamilyMain);
    font-size: var(--fontSizeS);
    border: 0 none;

}

.a-input--search {
    background-color:#ECEEEF;
    padding: 5px 40px;
}

.a-input--img {
    
}