.a-text--one {
    font-size: var(--fontSizeS);
    font-family: var(--fontFamilyMain);
    color: var(--colorTextMain);
    width: 375px;
    margin-left: 10px;
    margin-top: 15px;
    line-height: 17px;
    
  }