.a-title--h1 {
    font-size: var(--fontSizeXL);
    font-family: var(--fontFamilyTitle);
    color: var(--colorTextMain);
    margin: 10px;
    }

.a-title--h2 {
    font-size: var(--fontSizeL);
    font-family: var(--fontFamilyTitle);
    color: var(--colorTextMain);
    margin-left: 10px;
    justify-content: space-between;

}